apeglm
assertthat
BiocManager
circlize
cli
collapse
covr
cowplot
cyclocomp
data.table
dearseq
dendextend
DESeq2
devtools
digest
dplyr
DT
edgeR
egg
emmeans
eulerr
factoextra
fastmatch
furrr
future
GGally
ggdendro
ggExtra
ggfortify
ggh4x
ggmulti
ggplot2
ggpubr
ggrepel
ggridges
ggtext
gridExtra
htmltools
igraph
import
jinjar
jpeg
jquerylib
kableExtra
knitr
languageserver
limma
logging
lubridate
magrittr
mathjaxr
matrixStats
methods
multcompView
ontologyIndex
openxlsx
pandoc
parallel
parallelly
patchwork
philentropy
pkgdown
pkgload
plotly
purrr
pvclust
quarto
R6
Rcpp
readr
remotes
rhdf5
rmarkdown
roxygen
roxygen2
rstan
S7
sass
scales
shiny
showteeth/ggcoverage@v1.3.0
stringr
testthat
tibble
tidyr
tidyselect
tidyverse
tinytex
tools
tximport
tzdb
utils
vcfR
vdiffr
vroom
yaml
yamldiffviewer
